<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- SqlSession setup for MyBatis Database Layer -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:/net/etri/sqlmap/config/sql-mapper-config.xml" />
		<property name="mapperLocations" value="classpath:/net/etri/sqlmap/mapper/*.xml" />
	</bean>
		
	<!-- MapperConfigurer setup for MyBatis Database Layer with @Mapper("deptMapper") in DeptMapper Interface -->
 	<bean class="net.etri.rest.api.cmm.MapperConfigurer">
		<property name="basePackage" value="net.etri.rest.api.mapper" />
	</bean>
    
</beans>