@charset "utf-8";

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td{
	padding: 4px 0 4px 0;
	text-align: center;
	vertical-align: middle;
}
